body {
    font-family: "Roboto", sans-serif;
    background-color: #e2e2e2;
}

main {
    width: 80%;
    max-width: 1000px;
    margin: 3rem auto;
}

.header__content {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
}   

.header__title {
    color: blue;
    font-weight: 1000;
    font-size: 30px;
}

.header__input--search {
    width: 45%;
    height: 40px;
    border: 0px;
    border-radius: 5px;
}

input {
    background-color: #ebebeb;
}

p {
    background-color: #f1f3f5;
}

h2{
    font-weight: 500;
    font-size: larger;
}

.span-urgent {
    background-color: #e40404;
    padding: 8px;
    margin-left: 10px;
    border-radius: 100px;
}

.span-important {
    background-color: #f3a703;
    padding: 8px;
    margin-left: 10px;
    border-radius: 100px;
}

.span-normal {
    background-color: #028302;
    padding: 8px;
    margin-left: 10px;
    border-radius: 100px;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 30px;
    align-items: center;
}

.form__container {
    background-color: white;
    width: 85%;
    height: 200px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
   
}

.form__input-container {
    display: flex;
    justify-content: space-between
}

.tasks__container {
    background-color: white;
    width: 85%;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.form__input--text {
    width: 65%;
    height: 50px;
    border: 0px;
    border-radius: 10px;
}

.form__input--priority {
    background-color: #ebebeb;
    width: 30%;
    height: 50px;
    border: 0px;
    border-radius: 10px;
}

.form__button--add-task {
    background-color: blue;
    color: white;
    width: 100%;
    height: 50px;
    border: 0px;
    border-radius: 10px;
}

.tasks__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.task__item {
    background-color: #ebebeb;
    width: 100%;
   	height: 50px;
    border: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-info__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.task__button--remove-task {
    background-image: url("./assets/trash-icon.svg");
    width: 11px;
    height: 13px;
    border-style: hidden;
    margin-right: 10px;
}

